<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cms live coding</title>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
  </head>
  <body>

    <div id="cmsview">
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">CMS <b>live-coding</b></a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li v-if='authenticated'>
                          <a href="#Data">Data</a>
                      </li>
                      <li v-if='authenticated'>
                          <a href="#DataDate">Data Date</a>
                      </li>

                        <li v-if='!authenticated'  name="authBtn" data-target="#authModal" data-toggle="modal">
                            <a href="#">Sign in/up</a>
                        </li>

                        <li  v-if='authenticated' v-on:click="logout">
                            <a href="#SignOut">Sign out</a>
                        </li>
                  </ul>
              </div>
              <div class="navbar-form navbar-right">
                <div v-if='authenticated' class="form-group">
                  <button type="button" class="btn btn-info" v-on:click="logout"><i class="glyphicon glyphicon-off"></i> Log Out</button>
                </div>

              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

      <div class="container" v-if='authenticated'>

          <h1>test</h1>
          <button type="button" name="button"> +Add </button>
          <input type="text" name="user" placeholder="letter">
					<input type="text" name="pass" placeholder="frequency">
      </div>

        <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign Up / Sign In</h4>
              </div>
              <div class="modal-body">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#signup" data-toggle="tab">Sign Up</a></li>
                  <li><a href="#signin" data-toggle="tab">Sign In</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="signup">
                    <div class="form-group" style="padding-left:0px">
                      <label class="control-label" for="email">Email</label>
                      <input class="form-control" v-model="email" type="emailRegister" placeholder="Enter the email" required>
                    </div>
                    <div class="form-group" style="padding-left:0px">
                      <label class="control-label" for="password">Password</label>
                      <input class="form-control" v-model="password" type="password" placeholder="Enter the password" required>
                    </div>
                    <div class="form-group">
                      <button type="button" name="button" class="btn btn-info" v-on:click="register" data-dismiss="modal">Sign Up <i class="glyphicon glyphicon-log-in"></i></button>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="signin">
                    <div class="form-group col-md-6" style="padding-left:0px">
                      <label class="control-label" for="username">Username</label>
                      <input class="form-control" v-model="username" type="text" placeholder="Enter the your username" required>
                    </div>
                    <div class="form-group col-md-6" style="padding-left:0px">
                      <label class="control-label" for="password">Password</label>
                      <input class="form-control" v-model="password" type="password" placeholder="Enter the password" required>
                    </div>
                    <div class="form-group">
                      <button type="button" name="button" class="btn btn-info" v-on:click="login" data-dismiss="modal">Sign In <i class="glyphicon glyphicon-log-in"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/index.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
  </body>
</html>
